<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Room_Number %>
    <%= form.collection_select(:unit_id, Unit.all, :id, :room_number, :prompt => 'Select Room Number') %>
  </div>

  <div class="form-group">
    <% form.label :person_id %>
    <%= form.hidden_field :person_id, id: :reservation_person_id, :readonly => true, :value => session[:user_id] %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :reservation_start_date %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :reservation_end_date %>
  </div>

  <div class="form-group">
    <% form.label :status %>
    <%= form.hidden_field :status, id: :reservation_status, :value => "reserved" %>
  </div>

  <div class="form-group">
    <%= form.label :total_amount %>
    <%= form.text_field :total_amount, id: :reservation_total_amount, :value => Type.where("id = ?", :unit_id).pluck(:price).first %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
