<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table class="table table-hover">
  <thead>
    <tr>

      <% @get_id = Person.where("id = ?", session[:user_id]).pluck(:id).first %>
      <% @user_level = Account.where("id = ?", @get_id).pluck(:user_level).first %>

      <th>Room Number</th>
      <% if @user_level == 'admin' %>
        <th>Person</th>
      <% end %>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th>Total amount</th>
      <% if @user_level == 'admin' %>
        <th colspan="3"></th>
      <% else %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <% if reservation.person_id == session[:user_id] or @user_level == 'admin' %>
          <td><%= Unit.where("id = ?", reservation.unit_id).pluck(:room_number).first %></td>
          <% if @user_level == 'admin' %>
            <td><%= reservation.person_id %></td>
          <% end %>
          <td><%= reservation.start_date %></td>
          <td><%= reservation.end_date %></td>
          <td><%= reservation.status %></td>
          <% getter = Unit.where("id = ?", reservation.unit_id).pluck(:type_id).first %>
          <td><%= Type.where("id = ?", getter).pluck(:price).first %></td>
        <% end %>
        <% if @user_level == 'admin' %>
          <td><%= link_to 'Show', reservation %></td>
          <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
          <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif @user_level != 'admin' and reservation.person_id == session[:user_id] %>
          <td><a href="http://localhost:3000/payments/">Go to Payment</a></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Apply/Create Reservation', new_reservation_path %><br />
