<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script type="text/javascript">
    function change_persona_id() {
      document.getElementById("person_id").value = "2";
    }
  </script>

  <div class="field">
    <%= form.label :reservation_id %>
    <%= form.collection_select(:reservation_id, Reservation.all, :id, :id, :prompt => 'Payment for what reservation?', :onchange => "change_persona_id();") %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id, id: :payment_person_id %>
  </div>

  <div class="field">
    <%= form.label :amount_paid %>
    <%= form.text_field :amount_paid, id: :payment_amount_paid %>
  </div>

  <div class="field">
    <%= form.label :date_paid %>
    <%= form.date_select :date_paid, id: :payment_date_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
