<% @get_id = Person.where("id = ?", session[:user_id]).pluck(:id).first %>
<% @user_level = Account.where("id = ?", @get_id).pluck(:user_level).first %>

<p id="notice"><%= notice %></p>

<h1>Payments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Reservation</th>
      <th>Person</th>
      <th>Amount paid</th>
      <th>Date paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.reservation_id %></td>
        <td><%= payment.person_id %></td>
        <td><%= payment.amount_paid %></td>
        <td><%= payment.date_paid %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @user_level == 'admin' %>
  <%= link_to 'New Payment', new_payment_path %>
<% end %>