<% @get_id = Person.where("id = ?", session[:user_id]).pluck(:id).first %>
<% @user_level = Account.where("id = ?", @get_id).pluck(:user_level).first %>
<% if @user_level != 'admin' %>
   <script type="text/javascript">
      window.location.href="http://localhost:3000/reservations"
   </script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation:</strong>
  <%= @payment.reservation_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @payment.person_id %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @payment.amount_paid %>
</p>

<p>
  <strong>Date paid:</strong>
  <%= @payment.date_paid %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
